@use "reset";
@use "global";
@import "responsive";

.second-page {
  header {
    padding: 25px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .destinations {
    justify-content: space-between;
    font-family: "Playfair Display";
    font-size: 55px;
    color: #172432;
    width: 100%;
    border-bottom: 1px solid chocolate;
  }

  .description-travel {
    text-align: start;
    font-family: "rubik";
    font-size: 20px;
    width: 100%;
    padding: 4%;
    color: #767e86;
  }
}

.pictures {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 2rem;
  width: 100%;
}

.image-berlin {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 75%;
  height: auto;
  margin: 20px;
}

// .image-london {
//   border-radius: 16px;
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   justify-content: center;
//   width: 33%;
//   height: auto;
// }

// .image-venice {
//   border-radius: 16px;
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   justify-content: center;
//   width: 33%;
//   height: auto;
// }
.button {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
