@use "reset";
@use "global";
@import "responsive";

.second-page {
  header {
    padding: 20px;
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  .destinations {
    justify-content: space-between;
    font-family: "Playfair Display";
    font-size: 20px;
    color: #172432;
    width: 100%;
  }

  .description-travel {
    text-align: start;
    font-family: "rubik";
    font-size: 20px;
    width: 100%;
    padding: 2%;
  }
}

.pictures {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.image-berlin {
  text-align: center;
  border-radius: 16px;
  width: 100%;
  grid gap .image-berlin
}
